.btn-up {
  display: none;
  @media screen and (min-width: 1450px) {
    display: block;
    position: fixed;
    z-index: 100;
    right: 40px;
    bottom: 60px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;

    &:hover {
      &:before {
        opacity: 0;
        animation: none;
      }

      &::after {
        opacity: 1;
        animation: none;
      }

      @keyframes arrow_vs_snowflake {
        0% {
          opacity: 1;
        }

        100% {
          opacity: 1;
        }
      }
    }

    &:after {
      content: "";
      transition: 0.3s;
      width: 80px;
      height: 80px;
      display: inline-block;
      border: 2px solid #fff;
      border-radius: 50%;
      background-image: url(../img/arrow-top.svg);
      background-repeat: no-repeat;
      background-size: 30%;
      background-position: 27px, 30px;
      animation: arrow_vs_snowflake 10s infinite linear;
      opacity: 0;
      z-index: 2;
    }

    &:before {
      content: "";
      transition: 0.3s;
      z-index: 1;
      display: inline-block;
      width: 80px;
      height: 80px;
      position: absolute;
      left: 0;
      top: 0;
      background: url(../img/svg/snowflake-arrow.svg) no-repeat;

      animation: snowflake 10s infinite linear;
    }
  }
}

.btn-up_hide {
  display: none;
}

//@keyframes arrow_vs_snowflake {
//  0% {
//    scale: 0;
//    opacity: 0;
//  }

//  52% {
//    scale: 0;
//    opacity: 0;
//  }

//  56% {
//    scale: 1;
//    opacity: 1;
//  }

//  96% {
//    scale: 1;
//    opacity: 1;
//  }

//  100% {
//    scale: 0;
//    opacity: 0;
//  }
//}

//@keyframes snowflake {
//  0% {
//    scale: 1;
//    transform: rotate(0deg);
//  }

//  40% {
//    scale: 1;
//    transform: rotate(0deg);
//  }

//  41% {
//    scale: 1;
//    transform: rotate(90deg);
//  }

//  46% {
//    transform: rotate(0deg);
//  }

//  49% {
//    transform: rotate(0deg);
//  }

//  55% {
//    scale: 0;
//    transform: rotate(0deg);
//  }

//  100% {
//    scale: 0;
//    transform: rotate(0deg);
//  }
//}


@keyframes arrow_vs_snowflake {
  0% {
    scale: 0;
    opacity: 0;
  }

  10%{
    scale: 0;
    opacity: 0;
  }

  40%{
    scale: 0;
    opacity: 0;
  }

  50%{
    scale: 1;
    opacity: 1;
  }

  97%{
    scale: 1;
    opacity: 1;
  }

  100%{
    scale: 0;
    opacity: 0;
  }
}

@keyframes snowflake {
  0% {
    scale: 0;
    transform: rotate(90deg);
  }

  7%{
    scale: 1;
    transform: rotate(0deg);
  }

  43%{
    scale: 1;
    transform: rotate(0deg);
  }


  50%{
    scale: 0;
    transform: rotate(90deg);
  }


  100%{
    scale: 0;
    transform: rotate(90deg);
  }

}
