/* Начальные стили для элемента, который будет следовать за курсором, в нашем случае небольшой кружок */
.follow-cursor {
  opacity: 1;
  visibility: visible;
  border-radius: 0px;
  position: fixed; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
  position: fixed;
  left: 0;
  animation: mouseEffectNext 0.7s forwards linear;

  top: 0;
  z-index: 999; /* чтобы элемент был над остальными элементами */
  pointer-events: none; /* чтобы сквозь элемент можно было взаимодействовать с элементами, находящимися под ним */
  transform: scale(1);
  transition: width 0.64s, transform 12s, opacity 2s, height 0.64s, border-radius 0.64s, background 0.64s;
  //animation: mouseEffect 4.8s infinite linear;
  height: 87px;
  width: 87px;
  &:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;

    background: rgba(63, 168, 227, 0.2);
    filter: blur(10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #3fa8e3;
    filter: blur(50px);
    width: 87px;
    height: 87px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Активный класс для кружка при наведении на ссылку */
.hidden-mouse {
  visibility: visible;
  position: fixed; /* задаём абсолютное позиционирование, чтобы элемент не влиял на остальные элементы и его можно было бы позиционировать следом за курсором */
  left: 0;
  top: 0;
  animation: mouseEffect 0.7s forwards linear;

  height: 87px;
  width: 87px;
  &:before {
    content: "";
    display: inline-block;
    width: 35px;
    height: 35px;
    position: absolute;

    background: rgba(63, 168, 227, 0.2);
    filter: blur(10px);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &:after {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: #3fa8e3;
    filter: blur(50px);
    width: 87px;
    height: 87px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Скрываем декоративный элемент при ширине браузера меньше 992px */
@media (max-width: 991.98px) {
  .follow-cursor {
    display: none;
  }
}


@keyframes mouseEffect {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(0);
    opacity: 0;
  }
}

@keyframes mouseEffectNext {
  0% {
    transform: scale(0);
  }

  50% {
    transform: scale(0.5);
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}


