.social {
  display: flex;
  align-items: center;

  &__link{
    @include icons;
  }

  &__item{
    &:not(:first-child){
      margin-left: 10px;
    }
  }

  &__vk {
    width: 23px;
    height: 13px;
  }

  &__telegram {
    width: 22px;
    height: 20px;
 
  }
}
