.testing,
.apply-testing,
.skate-insurance {
  &__inner {
    margin-bottom: 10px;

    padding: 15px 20px;
    background: #ffffff;
    border-radius: 10px;

    @include min1366 {
      padding: 35px 40px;
      margin-bottom: 20px;
    }

    p {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: var(--light-black);
      &:not(:last-child) {
        margin-bottom: 10px;
      }

      @include min1366 {
        font-size: 18px;

        &:not(:last-child) {
          margin-bottom: 30px;
        }
      }
    }

    h2 {
      font-family: "Play";
      font-style: normal;
      font-weight: 400;
      font-size: 22px;
      line-height: 130%;
      color: #1f2123;
      margin-bottom: 10px;

      a {
        transition: 0.3s;
        color: #42a0d5;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }

      @include min1366 {
        font-size: 30px;
        margin-bottom: 20px;
      }
    }

    h3 {
      font-family: "Inter";
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 150%;
      color: var(--light-black);
      margin: 20px 0 10px 0;

      @include min1366 {
        font-size: 18px;
        margin: 30px 0 15px 0;
        span {
          font-weight: 600;
        }
      }
    }

    ol {
      //clear: both;
      counter-reset: section;
      list-style: none;
      margin-bottom: 20px;

      li {
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        color: var(--light-black);
        &:not(:first-child) {
          margin-top: 15px;
        }

        @include min1024 {
          &:not(:first-child) {
            margin-top: 20px;
          }
        }

        list-style-type: normal;
        list-style-position: inside;

        @include min1366 {
          font-size: 18px;
        }
      }
    }

    ul {
      li {
        span {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        &:not(:first-child) {
          margin-top: 20px;
        }
      }
    }
  }

  &__button {
    width: 100%;
    padding: 11px 10px;

    @include min768 {
      display: inline-block;
      padding: 11px 20px;
      width: auto;
    }
  }

  &__title {
  }

  &__consultation {
    border: 2px solid #ffffff;
    border-radius: 10px;
    padding: 20px;

    @include min1366 {
      padding: 40px;
    }
  }
}

.download-text {
  display: flex;
  align-items: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  color: #636b73;
  max-width: 300px;

  b {
    font-weight: 400;
  }
  img {
    margin-right: 15px;
  }

  @media screen and (min-width: 600px) {
    max-width: 100%;
  }

  @include min1366 {
    font-size: 14px;
    line-height: 150%;
  }
}

.apply-testing,
.skate-insurance {
  text-align: center;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;

  color: #14202b;
}

.skate-insurance {
  text-align: left;

  &__inner {
    padding: 20px;

    @include min1366 {
      padding: 40px;
    }
  }

  &__text {
    margin-bottom: 65px;

    a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #42a0d5;
      text-decoration: underline;
      transition: 0.3s;
      @include min1024 {
        &:hover {
          text-decoration: none;
        }
        font-size: 16px;
      }
    }

    p {
      span {
        font-weight: 600;
      }
      @include min1024 {
        span {
          font-weight: 16px;
        }
        font-size: 18px;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
    }
  }

  h2 {
    text-align: center;
  }
}

.testing_atletes {
  .testing__inner {
    > a {
      margin-bottom: 20px;
    }

    @include min1366 {
      p:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &:first-child {
      ul {
        margin-top: 30px;
      }
    }
  }

  ul {
    margin-bottom: 30px;

    @include min1366 {
      //margin-top: 30px;
      margin-bottom: 40px;
    }
  }

  h2 {
    margin-bottom: 20px;
  }

  p {
    a {
      font-family: "Inter";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 150%;
      color: #3fa8e3;
      border-bottom: 1px solid;
      letter-spacing: -0.1px;

      @include min1366 {
        font-size: 18px;
      }
    }
  }
}

.testing__inner_section {
  section {
    margin-bottom: 20px;

    picture {
      display: flex;
      align-items: flex-start;
      width: 100%;
      margin: 0 auto;
      max-width: 530px;
      img {
        filter: drop-shadow(0px 0px 30px rgba(31, 33, 35, 0.05));
        border-radius: 10px;
        width: 100%;
        max-height: 230px;

        @include min1024 {
          max-height: 100%;
        }
      }
    }

    a {
      color: #42a0d5;
      border-bottom: 1px solid;

      @include min1024 {
        &:hover {
          border-bottom: 1px solid transparent;
        }
      }
    }

    strong {
      display: block;
      margin-top: 10px;
    }

    p {
      @include min1024 {
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }

    @include min1024 {
      > ul {
        > li {
          &:first-child {
            float: left;

            width: 400px;
            height: 300px;
            flex-shrink: 0;
            margin-right: 40px;
            margin-bottom: 15px;
          }

          &:nth-child(2) {
            margin-top: 0px;
          }
        }
      }
      margin-bottom: 30px;
    }
  }
}

.testing__inner_contact {
  ul {
    margin-top: 20px;
    li {
      &:not(:first-child) {
        margin-top: 10px;
      }
    }
  }

  a {
    transition: 0.3s;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    border-bottom: 1px solid;
    color: #3fa8e3;

    @include min1024 {
      font-size: 18px;
      &:hover {
        border-bottom: 1px solid transparent;
      }
    }
  }

  @include min1366 {
    a {
      font-size: 18px;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }
}

.testing_calendar {
  .testing__inner {
    div {
      a {
        display: inline-block;
        transition: 0.3s;
        font-family: "Inter";
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-decoration-line: underline;
        color: #3fa8e3;
        &:not(:last-child) {
          margin-bottom: 10px;
        }

        @include min1024 {
          font-size: 18px;
          &:hover {
            text-decoration-line: none;
          }
        }
      }

      ul li:not(:first-child) {
        margin-top: 10px;
      }
    }
    ul {
      margin-top: 25px;
    }
  }
}

.testing {
  &__buttons {
    margin-bottom: 43px;
    display: none;
    @include min1024 {
      display: flex;
      align-items: center;
    }
  }

  &__btn {
    height: 31px;

    &:not(:first-child) {
      margin-left: 10px;
    }
  }
}
