<div class="cards-main">
  <div class="cards-main__items">

    <div class="cards-main__item cards-main__item_blue">
      <div class="cards-main__body">
        <button class="cards-main__button btn light-blue">Объявления</button>
        <h2 class="cards-main__description">
          Юношеский командный турнир по фигурному катанию на коньках «Кубок
          московского спорта» 2 тур
        </h2>
        <span class="cards-main__date">
          <svg class="cards-main__icon">
            <use xlink:href="img/sprite.svg#calendon"></use>
          </svg>

          <span>14.11.2022</span>
        </span>

        <span class="cards-main__hidden">
          26 ноября 2022 года в ледовом дворце «Мечта» прошёл 2-ой тур Кубка Московского спорта. Главный судья – Киташева С.Н. Организаторами являются: Департамент спорта города Москвы, АНО «Московский спорт» и РОО «Федерация фигурного катания города Москвы» <a href="#" class="cards-main__link light-blue">Подробнее</a>
        </span>
      </div>

      <div class="cards-main__image">
        <picture>
          <source srcset="img/cards-main-announcement.webp" type="image/webp">
          <img loading="lazy" src="img/cards-main-announcement.jpg" class="image" width="" height="" alt="">
        </picture>
      </div>
    </div>

    <div class="cards-main__item cards-main__item_violet">
      <div class="cards-main__body">
        <button class="cards-main__button btn light-violet">Новости</button>
        <h2 class="cards-main__description">
          Прием заявок на Чемпионат Москвы заканчивается 28 ноября
        </h2>
        <span class="cards-main__date">
          <svg class="cards-main__icon">
            <use xlink:href="img/sprite.svg#calendon"></use>
          </svg>

          <span>14.11.2022</span>
        </span>

        <span class="cards-main__hidden">
          26 ноября 2022 года в ледовом дворце «Мечта» прошёл 2-ой тур Кубка Московского <a href="#" class="cards-main__link light-violet">Подробнее</a>
        </span>
      </div>

      <div class="cards-main__image">
        <picture>
          <source srcset="img/cards-main-news.webp" type="image/webp">
          <img loading="lazy" src="img/cards-main-news.jpg" class="image" width="" height="" alt="">
        </picture>
      </div>


    </div>

    <div class="cards-main__item cards-main__item_yellow">
      <div class="cards-main__body">
        <button class="cards-main__button btn light-yellow">События</button>
        <h2 class="cards-main__description">
          Региональный семинар для операторов ввода данных
        </h2>
        <span class="cards-main__date">
          <svg class="cards-main__icon">
            <use xlink:href="img/sprite.svg#calendon"></use>
          </svg>

          <span>14.11.2022</span>
        </span>

        <span class="cards-main__hidden">
          26 ноября 2022 года в ледовом дворце «Мечта» прошёл 2-ой тур Кубка Московского <a href="#" class="cards-main__link light-yellow">Подробнее</a>
        </span>
      </div>

    </div>

    <div class="cards-main__item cards-main__item_red">
      <div class="cards-main__body">
        <button class="cards-main__button btn light-red">Важно</button>
        <h2 class="cards-main__description">
          Проект «Битва школ»
        </h2>
        <span class="cards-main__date">
          <svg class="cards-main__icon">
            <use xlink:href="img/sprite.svg#calendon"></use>
          </svg>

          <span>14.11.2022</span>
        </span>

        <span class="cards-main__hidden">
          Школы и клубы, желающие участвовать в проекте «Битва школ», должны написать заявку на участие. Проект предусматривает участие всех школ фигурного катания Москвы. Всего семь  <a href="#" class="cards-main__link light-red">Подробнее</a>
        </span>
      </div>

    </div>

    <div class="cards-main__item cards-main__item_blue">
      <div class="cards-main__body">
        <button class="cards-main__button btn light-blue">Объявления</button>
        <h2 class="cards-main__description">
          В Москве успешно стартовал 1 этап Кубка Московского спорта – командных...
        </h2>
        <span class="cards-main__date">
          <svg class="cards-main__icon">
            <use xlink:href="img/sprite.svg#calendon"></use>
          </svg>

          <span>14.11.2022</span>
        </span>

        <span class="cards-main__hidden">
          26 ноября 2022 года в ледовом дворце «Мечта» прошёл 2-ой тур Кубка Московского <a href="#" class="cards-main__link light-blue">Подробнее</a>
        </span>
      </div>

      <div class="cards-main__image">
        <picture>
          <source srcset="img/cards-main-announcement-mini.webp" type="image/webp">
          <img loading="lazy" src="img/cards-main-announcement-mini.jpg" class="image" width="" height="" alt="">
        </picture>
      </div>

    </div>

    <div class="cards-main__item cards-main__item_green">
      <div class="cards-main__body">

      <button class="cards-main__button btn light-green">Семинары</button>
      <h2 class="cards-main__description">
        Региональный семинар для операторов ввода данных
      </h2>
      <span class="cards-main__date">
        <svg class="cards-main__icon">
          <use xlink:href="img/sprite.svg#calendon"></use>
        </svg>

        <span>14.11.2022</span>
      </span>

      <span class="cards-main__hidden">
        26 ноября 2022 года в ледовом дворце «Мечта» прошёл 2-ой тур Кубка Московского <a href="#" class="cards-main__link light-green">Подробнее</a>
      </span>
      </div>

      <div class="cards-main__image">
        <picture>
          <source srcset="img/cards-main-seminars.webp" type="image/webp">
          <img loading="lazy" src="img/cards-main-seminars.jpg" class="image" width="" height="" alt="">
        </picture>
      </div>

    </div>



    <div class="cards-main__item cards-main__item_blue">
      <div class="cards-main__body">
        <button class="cards-main__button btn light-blue">Объявления</button>
        <h2 class="cards-main__description">
          Юношеский командный турнир по фигурному катанию на коньках «Кубок
          московского спорта» 2 тур
        </h2>
        <span class="cards-main__date">
          <svg class="cards-main__icon">
            <use xlink:href="img/sprite.svg#calendon"></use>
          </svg>

          <span>14.11.2022</span>
        </span>

        <span class="cards-main__hidden">
          26 ноября 2022 года в ледовом дворце «Мечта» прошёл 2-ой тур Кубка Московского спорта. Главный судья – Киташева С.Н. Организаторами являются: Департамент спорта города Москвы, АНО «Московский спорт» и РОО «Федерация фигурного катания города Москвы» <a href="#" class="cards-main__link light-blue">Подробнее</a>
        </span>
      </div>

      <div class="cards-main__image">
        <picture>
          <source srcset="img/cards-main-announcement.webp" type="image/webp">
          <img loading="lazy" src="img/cards-main-announcement.jpg" class="image" width="" height="" alt="">
        </picture>
      </div>
    </div>

    <div class="cards-main__item cards-main__item_violet">
      <div class="cards-main__body">
        <button class="cards-main__button btn light-violet">Новости</button>
        <h2 class="cards-main__description">
          Прием заявок на Чемпионат Москвы заканчивается 28 ноября
        </h2>
        <span class="cards-main__date">
          <svg class="cards-main__icon">
            <use xlink:href="img/sprite.svg#calendon"></use>
          </svg>

          <span>14.11.2022</span>
        </span>

        <span class="cards-main__hidden">
          26 ноября 2022 года в ледовом дворце «Мечта» прошёл 2-ой тур Кубка Московского <a href="#" class="cards-main__link light-violet">Подробнее</a>
        </span>
      </div>

      <div class="cards-main__image">
        <picture>
          <source srcset="img/cards-main-news.webp" type="image/webp">
          <img loading="lazy" src="img/cards-main-news.jpg" class="image" width="" height="" alt="">
        </picture>
      </div>


    </div>

    <div class="cards-main__item cards-main__item_yellow">
      <div class="cards-main__body">
        <button class="cards-main__button btn light-yellow">События</button>
        <h2 class="cards-main__description">
          Региональный семинар для операторов ввода данных
        </h2>
        <span class="cards-main__date">
          <svg class="cards-main__icon">
            <use xlink:href="img/sprite.svg#calendon"></use>
          </svg>

          <span>14.11.2022</span>
        </span>

        <span class="cards-main__hidden">
          26 ноября 2022 года в ледовом дворце «Мечта» прошёл 2-ой тур Кубка Московского <a href="#" class="cards-main__link light-yellow">Подробнее</a>
        </span>
      </div>

    </div>

    <div class="cards-main__item cards-main__item_red">
      <div class="cards-main__body">
        <button class="cards-main__button btn light-red">Важно</button>
        <h2 class="cards-main__description">
          Проект «Битва школ»
        </h2>
        <span class="cards-main__date">
          <svg class="cards-main__icon">
            <use xlink:href="img/sprite.svg#calendon"></use>
          </svg>

          <span>14.11.2022</span>
        </span>

        <span class="cards-main__hidden">
          Школы и клубы, желающие участвовать в проекте «Битва школ», должны написать заявку на участие. Проект предусматривает участие всех школ фигурного катания Москвы. Всего семь  <a href="#" class="cards-main__link light-red">Подробнее</a>
        </span>
      </div>

    </div>

    <div class="cards-main__item cards-main__item_blue">
      <div class="cards-main__body">
        <button class="cards-main__button btn light-blue">Объявления</button>
        <h2 class="cards-main__description">
          В Москве успешно стартовал 1 этап Кубка Московского спорта – командных...
        </h2>
        <span class="cards-main__date">
          <svg class="cards-main__icon">
            <use xlink:href="img/sprite.svg#calendon"></use>
          </svg>

          <span>14.11.2022</span>
        </span>

        <span class="cards-main__hidden">
          26 ноября 2022 года в ледовом дворце «Мечта» прошёл 2-ой тур Кубка Московского <a href="#" class="cards-main__link light-blue">Подробнее</a>
        </span>
      </div>

      <div class="cards-main__image">
        <picture>
          <source srcset="img/cards-main-announcement-mini.webp" type="image/webp">
          <img loading="lazy" src="img/cards-main-announcement-mini.jpg" class="image" width="" height="" alt="">
        </picture>
      </div>

    </div>

    <div class="cards-main__item cards-main__item_green">
      <div class="cards-main__body">

      <button class="cards-main__button btn light-green">Семинары</button>
      <h2 class="cards-main__description">
        Региональный семинар для операторов ввода данных
      </h2>
      <span class="cards-main__date">
        <svg class="cards-main__icon">
          <use xlink:href="img/sprite.svg#calendon"></use>
        </svg>

        <span>14.11.2022</span>
      </span>

      <span class="cards-main__hidden">
        26 ноября 2022 года в ледовом дворце «Мечта» прошёл 2-ой тур Кубка Московского <a href="#" class="cards-main__link light-green">Подробнее</a>
      </span>
      </div>

      <div class="cards-main__image">
        <picture>
          <source srcset="img/cards-main-seminars.webp" type="image/webp">
          <img loading="lazy" src="img/cards-main-seminars.jpg" class="image" width="" height="" alt="">
        </picture>
      </div>

    </div>

  </div>

  <button class="cards-main__show-more">
    <svg class="cards-main__show">
      <use xlink:href="img/sprite.svg#loading"></use>
    </svg>
    <span>Показать еще</span>
  </button>
</div>

