<div class="main-layout__commission commission">
  <div class="commission__inner">
    <p>
      Рыбный текст – это текст, выполняющий исключительно утилитарную функцию.
      Он не вписывается в контекст сайта, на котором используется, и нужен
      только для заполнения пространства. Зачастую такой текст даже не имеет
      четкого смысла и представляет собой набор слов и фраз, которые вроде бы
      формируют грамматически верные конструкции, но какой-либо мысли в них не
      прослеживается.
    </p>

    <p>
      Рыбу используют вебмастера, веб-дизайнеры и разработчики, у которых нет
      под рукой готового текста, но нужно как-то оценить внешний вид контента на
      готовой странице. Оценить, насколько хорошо он вписывается в дизайн и не
      «плывет» ли верстка.
    </p>

    <h2><span>Курочкин Владимир Сергеевич —</span> председатель комиссии</h2>
    <h2><span>Иорданян Марина Альбертовна —</span> член комиссии</h2>
    <h2><span>Яблоцкий Константин Витальевич —</span> член комиссии</h2>

    <ul class="commission__list">
      <li class="commission__item">
        <a href="images/kitten.jpg" class="commission__link" download>
          <img src="img/download-pdf.svg" alt="pdf">
          Положение о контрольно-ревизионной комиссии.pdf
        </a>
      </li>

      <li class="commission__item">
        <a href="images/kitten.jpg" class="commission__link" download>
          <img src="img/download-doc.svg" alt="doc">
          Название прикрепленного текстового документа.doc
        </a>
      </li>

      <li class="commission__item">
        <a href="images/kitten.jpg" class="commission__link" download>
          <img src="img/download-xls.svg" alt="xls">
          Таблицы.xls
        </a>
      </li>
    </ul>
  </div>
</div>
