<div class="connection">
  <ul class="connection__items">
    <li class="connection__item">
      <a href="tel:+74952803878 " class="connection__link connection__phone">
        <svg class="connection__img">
          <use xlink:href="img/sprite.svg#phone"></use>
        </svg>
        +7 495 280-38-78
      </a>
    </li>
    <li class="connection__item">
      <a href="mailto:office.ffkm@gmail.com" class="connection__link connection__mail">
        <svg class="connection__img">
          <use xlink:href="img/sprite.svg#mail"></use>
        </svg>
        office.ffkm@gmail.com
      </a>
    </li>
  </ul>
</div>
