<div class="main-layout__content content-text">
  <div class="content-text__inner">
    <p>
      Региональная общественная организация «Федерация фигурного катания на
      коньках города Москвы» была создана на учредительной конференции в январе
      2000 года.
    </p>

    <h2>
      Цели и задачи Федерации (в соответствии с <a href="#">Уставом ФФКМ</a>)
    </h2>
    <h3>
      <span>Целью Федерации</span> является содействие совершенствованию и
      популяризации фигурного катания на коньках.
    </h3>
    <h3><span>Задачи Федерации:</span></h3>
    <ul>
      <li>
        Объединение усилий членов Федерации и всех заинтересованных лиц и
        организаций в развитии фигурного катания на коньках в г. Москве;
      </li>
      <li>
        Развитие и совершенствование материально-технической базы Федерации;
      </li>
      <li>
        Совершенствование организационно-методических основ подготовки
        спортивных резервов Федерации, а также высококвалифицированных
        спортсменов, обеспечение условий для их подготовки и успешного
        выступления во всероссийских и международных соревнованиях;
      </li>
      <li>
        Обеспечение социальной защиты прав и интересов спортсменов, (в том числе
        фигуристов-инвалидов), тренеров и других специалистов, забота о
        ветеранах фигурного катания;
      </li>
      <li>
        Пропаганда и популяризация фигурного катания на коньках среди населения
        г. Москвы;
      </li>
      <li>
        Обеспечение научно-методического, информационного и технического
        потенциала фигурного катания на коньках по всем аспектам и вопросам,
        входящим в сферу интересов Федерации фигурного катания на коньках города
        Москвы.
      </li>
      <li>
        Высшим руководящим органом Федерации является Общее собрание членов
        Федерации;
      </li>
      <li>
        Постоянно действующим руководящим органом Федерации в период между
        проведением Общего собрания является Президиум Федерации;
      </li>
      <li>
        Руководство текущей деятельностью Федерации осуществляется Президентом
        Федерации или, в его отсутствие, вице-президентами;
      </li>
      <li>
        Основным исполнительным органом Федерации является Дирекция Федерации.
      </li>
    </ul>
  </div>
</div>
