<ul class="menu-sidebar_body">
  <li class="menu-sidebar__item">
    <a href="athletes.html">
      <svg class="menu-sidebar__skate">
        <use xlink:href="img/sprite.svg#skate"></use>
      </svg>
      Спортсменам</a
    >
  </li>

  <li class="menu-sidebar__item">
    <a href="coaches.html">
      <svg class="menu-sidebar__skate">
        <use xlink:href="img/sprite.svg#skate"></use>
      </svg>
      Тренерам</a
    >
  </li>

  <li class="menu-sidebar__item">
    <a href="judges.html">
      <svg class="menu-sidebar__skate">
        <use xlink:href="img/sprite.svg#skate"></use>
      </svg>
      Судьям</a
    >
  </li>

  <li class="menu-sidebar__item">
    <a href="organizations.html">
      <svg class="menu-sidebar__skate">
        <use xlink:href="img/sprite.svg#skate"></use>
      </svg>
      Организациям</a
    >
  </li>

  <li class="menu-sidebar__item">
    <a href="FFKM-members.html">
      <svg class="menu-sidebar__skate">
        <use xlink:href="img/sprite.svg#skate"></use>
      </svg>
      Членам ФФКМ</a
    >
  </li>


  <li class="menu-sidebar__item">
    <a href="dance-groups.html">
      <svg class="menu-sidebar__skate">
        <use xlink:href="img/sprite.svg#skate"></use>
      </svg>
      Танцевальным коллективам</a
    >
  </li>
</ul>
