<ul class="menu-sidebar_body">
  <li class="menu-sidebar__item">
    <a href="season.html">
      <svg class="menu-sidebar__skate">
        <use xlink:href="img/sprite.svg#skate"></use>
      </svg>
      Сезон 2022/23</a
    >
  </li>

  <li>
    <ul class="menu-sidebar__next">
      <li class="menu-sidebar__wrap">
        <button
          class="menu-sidebar__btn accordion-start-js"
        >
          <svg class="menu-sidebar__skate">
            <use xlink:href="img/sprite.svg#skate"></use>
          </svg>
          <span class="menu-sidebar__title"
            >Соревнования</span
          >
          <span class="menu-sidebar__icon">
            <svg class="arrow-triangle">
              <use
                xlink:href="img/sprite.svg#arrow-triangle"
              ></use>
            </svg>
          </span>
        </button>

        <ul
          class="menu-sidebar__inside accordion-content-js"
        >
          <li>
            <a href="current-competitions.html">Текущие соревнования</a>
          </li>

          <li>
            <a href="calendar-general.html"
              >Календарь спортивных соревнований</a
            >
          </li>

          <li>
            <a href="calendar-of-synchronized.html"
              >Календарь соревнований по синхронному
              катанию</a
            >
          </li>

          <li>
            <a href="#"
              >Календарь соревнований для любителей</a
            >
          </li>

          <li>
            <a href="#"
              >Календарь всероссийских соревнований</a
            >
          </li>

          <li>
            <a href="#">Подать заявку</a>
          </li>

          <li>
            <a href="skater-insurance.html">Страхование фигуристов</a>
          </li>

          <li>
            <a href="figure-skaters-of-Moscow.html">Фигуристы Москвы</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li>
    <ul class="menu-sidebar__next">
      <li class="menu-sidebar__wrap">
        <button
          class="menu-sidebar__btn accordion-start-js"
        >
          <svg class="menu-sidebar__skate">
            <use xlink:href="img/sprite.svg#skate"></use>
          </svg>
          <span class="menu-sidebar__title"
            >Тестирование</span
          >
          <span class="menu-sidebar__icon">
            <svg class="arrow-triangle">
              <use
                xlink:href="img/sprite.svg#arrow-triangle"
              ></use>
            </svg>
          </span>
        </button>

        <ul
          class="menu-sidebar__inside accordion-content-js"
        >
          <li>
            <a href="testing.html"
              >Календарь тестирования скольжения</a
            >
          </li>

          <li>
            <a href="apply-for-testing.html">Подать заявку</a>
          </li>
        </ul>
      </li>
    </ul>
  </li>

  <li class="menu-sidebar__item">
    <a href="seminars.html">
      <svg class="menu-sidebar__skate">
        <use xlink:href="img/sprite.svg#skate"></use>
      </svg>
      Семинары и мастер-классы</a
    >
  </li>
</ul>
