<div class="graph-modal">
  <!-- modal 1 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-1"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Абдурахманов Антон Викторович</span>
        <span class="content-modal__profile">Президент ФФКМ</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-1.jpg"
              class="image"
              width=""
              height=""
              alt="Абдурахманов Антон Викторович"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 1 -->
  <!-- modal 2 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-2"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Иванов Олег Александрович</span>
        <span class="content-modal__profile">Вице-президент</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-2.jpg"
              class="image"
              width=""
              height=""
              alt="Иванов Олег Александрович"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 2 -->
  <!-- modal 3 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-3"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Устинов Кирилл Игоревич</span>
        <span class="content-modal__profile">Вице-президент</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-3.jpg"
              class="image"
              width=""
              height=""
              alt="Устинов Кирилл Игоревич"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 3 -->
  <!-- modal 4 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-4"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Вереземская Ольга Ивановна</span>
        <span class="content-modal__profile">Ответственный секретарь</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-4.jpg"
              class="image"
              width=""
              height=""
              alt="Вереземская Ольга Ивановна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 4 -->

  <!-- modal -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Имя Фамилия Отчество</span>
        <span class="content-modal__profile">Должность</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/.jpg"
              class="image"
              width=""
              height=""
              alt="Фотография"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal-->

  <!-- trainer -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="trainer"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Чайковская Елена Анатольевна</span>
        <span class="content-modal__profile">Заслуженный тренер СССР</span>
        <div class="content-modal__content" data-simplebar>
          <picture class="content-modal__image">
            <source srcset="img/trainer-1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/trainer-1.jpg"
              class="image"
              width=""
              height=""
              alt="Фотография"
            />
          </picture>

          <div class="content-modal__text">
            <div class="content-text">
              <div class="content-text__inner content-text__inner_modal">
                <ul>
                  <li>
                    <span>В 1987 году</span>
                    Чайковская стала основным тренером «Динамо». Позднее она
                    начала специализироваться на постановке шоу с участием
                    профессиональных фигуристов.
                  </li>
                  <li>
                    <span>В 2001 году</span>
                    Елена основала собственную школу фигурного катания. Учебное
                    заведение получило название «Конек Чайковской». В школе
                    тренировались Кристина Обласова, Юлия Солдатова и другие не
                    менее известные фигуристы страны.
                  </li>
                  <li>
                    <span>В 2018 году</span>
                    состоялась зимняя Олимпиада в Корее. Россию на соревнованиях
                    представляли <a href="#">Никита Кацалапов</a> и
                    <a href="#">Виктория Синицина</a>. Елена приложила
                    множество усилий для подготовки спортсменов. Она проработала
                    с ними трюки и помогла подобрать музыку к номеру. Ребята не
                    смогли пройти отбор, но Елена продолжила отзываться о них,
                    как о талантливых спортсменах.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end trainer -->
</div>
