<div class="graph-modal">
  <!-- modal 1 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-1"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Абдурахманов Антон Викторович</span>
        <span class="content-modal__profile">Президент ФФКМ</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-1.jpg"
              class="image"
              width=""
              height=""
              alt="Абдурахманов Антон Викторович"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 1 -->
  <!-- modal 2 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-2"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Иванов Олег Александрович</span>
        <span class="content-modal__profile">Вице-президент</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-2.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-2.jpg"
              class="image"
              width=""
              height=""
              alt="Иванов Олег Александрович"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 2 -->
  <!-- modal 3 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-3"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Устинов Кирилл Игоревич</span>
        <span class="content-modal__profile">Вице-президент</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-3.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-3.jpg"
              class="image"
              width=""
              height=""
              alt="Устинов Кирилл Игоревич"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 3 -->
  <!-- modal 4 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-4"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Вереземская Ольга Ивановна</span>
        <span class="content-modal__profile">Ответственный секретарь</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-4.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-4.jpg"
              class="image"
              width=""
              height=""
              alt="Вереземская Ольга Ивановна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 4 -->

  <!-- modal -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="modal"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Имя Фамилия Отчество</span>
        <span class="content-modal__profile">Должность</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/.jpg"
              class="image"
              width=""
              height=""
              alt="Фотография"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal-->


    <!-- modal 5 -->
    <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-5"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Аксенов Эдуард Михайлович</span>
        <span class="content-modal__profile">Член президиума</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-5.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-5.jpg"
              class="image"
              width=""
              height=""
              alt="Аксенов Эдуард Михайлович"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 5 -->

  <!-- modal 6 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-6"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Баранова Дарья Дмитриевна</span>
        <span class="content-modal__profile">Председатель судейской коллегии</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-6.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-6.jpg"
              class="image"
              width=""
              height=""
              alt="Баранова Дарья Дмитриевна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 6 -->
  <!-- modal 7 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-7"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Волкова Людмила Сергеевна</span>
        <span class="content-modal__profile">Куратор работы с ветеранами</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-7.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-7.jpg"
              class="image"
              width=""
              height=""
              alt="Волкова Людмила Сергеевна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 7 -->
  <!-- modal 8 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-8"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Жгун Елена Вячеславовна</span>
        <span class="content-modal__profile">Главный тренер сборной команды Москвы</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-8.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-8.jpg"
              class="image"
              width=""
              height=""
              alt="Жгун Елена Вячеславовна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 8 -->

    <!-- modal 9 -->
    <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-9"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Кандыба Светлана Петровна</span>
        <span class="content-modal__profile">Член президиума</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-9.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-9.jpg"
              class="image"
              width=""
              height=""
              alt="Кандыба Светлана Петровна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 9 -->
  <!-- modal 10 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-10"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Росляков Сергей Сергеевич</span>
        <span class="content-modal__profile">Член президиума</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-10.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-10.jpg"
              class="image"
              width=""
              height=""
              alt="Росляков Сергей Сергеевич"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 10 -->
  <!-- modal 11 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-11"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Маркова Ольга Дмитриевна</span>
        <span class="content-modal__profile">Председатель тренерского совета СТК</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-11.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-11.jpg"
              class="image"
              width=""
              height=""
              alt="Маркова Ольга Дмитриевна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 11 -->
  <!-- modal 12 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-12"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Тихонов Алексей Владимирович</span>
        <span class="content-modal__profile">Председатель комиссии информационного развития</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-12.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-12.jpg"
              class="image"
              width=""
              height=""
              alt="Тихонов Алексей Владимирович"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 12 -->


    <!-- modal 13 -->
    <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-13"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Ткалина Вера Николаевна</span>
        <span class="content-modal__profile">Член президиума</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-13.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-13.jpg"
              class="image"
              width=""
              height=""
              alt="Ткалина Вера Николаевна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 13 -->
  <!-- modal 14 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-14"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Ушакова Елена Юрьевна</span>
        <span class="content-modal__profile">Член президиума</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-14.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-14.jpg"
              class="image"
              width=""
              height=""
              alt="Ушакова Елена Юрьевна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 14 -->
  <!-- modal 15 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-15"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Харченко Анна Вадимовна</span>
        <span class="content-modal__profile">Председатель аттестационной комиссии</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-15.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-15.jpg"
              class="image"
              width=""
              height=""
              alt="Харченко Анна Вадимовна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 15 -->
  <!-- modal 16 -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-16"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Честных Александр Анатольевич</span>
        <span class="content-modal__profile">Председатель комиссии по тестированию</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-16.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-16.jpg"
              class="image"
              width=""
              height=""
              alt="Честных Александр Анатольевич"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 16 -->

    <!-- modal 17 -->
    <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="cart-about-17"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Эйсмонт Елена Николаевна</span>
        <span class="content-modal__profile">Председатель аттестационной комиссии</span>
        <div class="content-modal__content">
          <picture class="content-modal__image">
            <source srcset="img/cart-about-17.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/cart-about-17.jpg"
              class="image"
              width=""
              height=""
              alt="Эйсмонт Елена Николаевна"
            />
          </picture>
          <div class="content-modal__text">
            <p>
              Рыбный текст — это текст, выполняющий исключительно утилитарную
              функцию. Он не вписывается в контекст сайта, на котором
              используется, и нужен только для заполнения пространства.
            </p>
            <p>
              Зачастую такой текст даже не имеет чёткого смысла и представляет
              собой набор слов и фраз, которые вроде бы формируют грамматически
              верные конструкции, но какой-либо мысли в них не прослеживается.
              Рыбу используют вебмастера, веб-дизайнеры и разработчики,
              у которых нет под рукой готового текста, но нужно как-то оценить
              внешний вид контента на готовой странице. Оценить, насколько
              хорошо он вписывается в дизайн и не «плывёт» ли вёрстка.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end modal 17 -->























  <!-- trainer -->
  <div
    class="graph-modal__container"
    role="dialog"
    aria-modal="true"
    data-graph-target="trainer"
  >
    <button
      class="btn-reset js-modal-close graph-modal__close"
      aria-label="Закрыть модальное окно"
    ></button>
    <div class="graph-modal__content content-modal">
      <div class="content-modal__inner">
        <span class="content-modal__name">Чайковская Елена Анатольевна</span>
        <span class="content-modal__profile">Заслуженный тренер СССР</span>
        <div class="content-modal__content" data-simplebar>
          <picture class="content-modal__image">
            <source srcset="img/trainer-1.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/trainer-1.jpg"
              class="image"
              width=""
              height=""
              alt="Фотография"
            />
          </picture>

          <div class="content-modal__text">
            <div class="content-text">
              <div class="content-text__inner content-text__inner_modal">
                <ul>
                  <li>
                    <span>В 1987 году</span>
                    Чайковская стала основным тренером «Динамо». Позднее она
                    начала специализироваться на постановке шоу с участием
                    профессиональных фигуристов.
                  </li>
                  <li>
                    <span>В 2001 году</span>
                    Елена основала собственную школу фигурного катания. Учебное
                    заведение получило название «Конек Чайковской». В школе
                    тренировались Кристина Обласова, Юлия Солдатова и другие не
                    менее известные фигуристы страны.
                  </li>
                  <li>
                    <span>В 2018 году</span>
                    состоялась зимняя Олимпиада в Корее. Россию на соревнованиях
                    представляли <a href="#">Никита Кацалапов</a> и
                    <a href="#">Виктория Синицина</a>. Елена приложила
                    множество усилий для подготовки спортсменов. Она проработала
                    с ними трюки и помогла подобрать музыку к номеру. Ребята не
                    смогли пройти отбор, но Елена продолжила отзываться о них,
                    как о талантливых спортсменах.
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end trainer -->
</div>
