<div class="swiper main-slider mousemove-none">
  <div class="swiper-wrapper main-slider__wrapper">
    <div class="swiper-slide main-slider__slide">
      <div class="main-slider__body">
        <div class="main-slider__item">
          <picture>
            <source srcset="img/winner.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/winner.jpg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="swiper-slide main-slider__slide">
      <div class="main-slider__body">
        <div class="main-slider__item">
          <picture>
            <source srcset="img/winner.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/winner.jpg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="swiper-slide main-slider__slide">
      <div class="main-slider__body">
        <div class="main-slider__item">
          <picture>
            <source srcset="img/winner.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/winner.jpg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="swiper-slide main-slider__slide">
      <div class="main-slider__body">
        <div class="main-slider__item">
          <picture>
            <source srcset="img/winner.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/winner.jpg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="swiper-slide main-slider__slide">
      <div class="main-slider__body">
        <div class="main-slider__item">
          <picture>
            <source srcset="img/winner.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/winner.jpg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>

    <div class="swiper-slide main-slider__slide">
      <div class="main-slider__body">
        <div class="main-slider__item">
          <picture>
            <source srcset="img/winner.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/winner.jpg"
              class="image"
              width=""
              height=""
              alt=""
            />
          </picture>
        </div>
      </div>
    </div>
  </div>

  <div class="main-slider__next main-slider__btn swiper-button-next">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrow"></use>
    </svg>
  </div>
  <div class="main-slider__prev main-slider__btn swiper-button-prev">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrow"></use>
    </svg>
  </div>
  <!--<div
    class="main-slider__pagination swiper-pagination"
  ></div>-->
</div>

<ul class="bullet-element">
  <li class="bullet-element__item"></li>
  <li class="bullet-element__item"></li>
  <li>
    <div class="carousel-progress">
      <div class="progress"></div>
    </div>
  </li>
  <li class="bullet-element__item"></li>
  <li class="bullet-element__item"></li>
</ul>





