<div class="swiper main-slider_bottom">
  <div class="swiper-wrapper main-slider__wrapper">

    <div class="swiper-slide main-slider__slide">
      <div class="main-slider__body">
        <div class="main-slider__item main-slider__item_height">
          <picture>
            <source srcset="img/winner.webp" type="image/webp">
            <img loading="lazy" src="img/winner.jpg" class="image" width="" height="" alt="">
          </picture>
        </div>
      </div>
    </div>


    <div class="swiper-slide main-slider__slide">
      <div class="main-slider__body">
        <div class="main-slider__item main-slider__item_height">
          <picture>
            <source srcset="img/winner.webp" type="image/webp">
            <img loading="lazy" src="img/winner.jpg" class="image" width="" height="" alt="">
          </picture>
        </div>
      </div>
    </div>


    <div class="swiper-slide main-slider__slide">
      <div class="main-slider__body">
        <div class="main-slider__item main-slider__item_height">
          <picture>
            <source srcset="img/winner.webp" type="image/webp">
            <img loading="lazy" src="img/winner.jpg" class="image" width="" height="" alt="">
          </picture>
        </div>
      </div>
    </div>


    <div class="swiper-slide main-slider__slide">
      <div class="main-slider__body">
        <div class="main-slider__item main-slider__item_height">
          <picture>
            <source srcset="img/winner.webp" type="image/webp">
            <img loading="lazy" src="img/winner.jpg" class="image" width="" height="" alt="">
          </picture>
        </div>
      </div>
    </div>




  </div>

  <div class="main-slider__next_bottom main-slider__btn swiper-button-next">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrow"></use>
    </svg>
  </div>
  <div class="main-slider__prev_bottom main-slider__btn swiper-button-prev">
    <svg class="">
      <use xlink:href="img/sprite.svg#arrow"></use>
    </svg>
  </div>
</div>

